<!DOCTYPE html>
<html lang="zh">
<head>
    {{ template "headmeta.html" }}
    <title>{{.title}} - 泛函</title>
    {{ cssLink "/src/pages/index.scss" "/index.css" }}
</head>
<body>
    <noscript id="noscript" data-s="{{.status}}">{{.noscript}}</noscript>
    <script id="data" type="application/json">{{.data}}</script>
    <fast-design-system-provider use-defaults>
        <div class="ms-Grid" dir="ltr">
            <div class="ms-Grid-row header">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <div class="ms-Grid-row header-row">
                        <div class="ms-Grid-col ms-xl8 header-left">
                            <div class="logo">
                                <a href="/" title='首页'>sfx.xyz</a>
                            </div>
                            <div class="menu">
                                <a class="link" href='/'>文章</a>&nbsp;
                                <a class="link" href='/'>工具</a>
                                <a class="link" href='/article/new'>创作</a>
                            </div>
                        </div>
                        <div class="ms-Grid-col ms-xl4 header-right">
                            <div id="user-menu"></div>
                        </div>
                    </div>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <main>
                        <div>
                            <div class="article-list">
                                {{range .list}}
                                    <div class="article-item">
                                        <div data-name="{{.Pk}}" data-type="object">
                                            <input type="hidden" data-name="pk" data-value="{{.Pk}}" />
                                            <div>
                                                <a href="/article/read/{{.Pk}}" class="article-link">
                                                    <h3 data-name="title">{{.Title}}</h3>
                                                </a>
                                            </div>
                                            <span data-name="update_time" data-value="{{.UpdateTime}}">{{.UpdateTimeFormatted}}</span>
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                            <div data-name="count">{{.count}}</div>
                        </div>
                    </main>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <footer>
                    </footer>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
        </div>
    </fast-design-system-provider>
    {{ jsLink "/src/pages/index.tsx" "/index.js" }}
</body>
</html>