.random-password {
  .tool-title {
    margin-top: 0
  }
  .tool-desc {
    font-size: 13px;
    color: #5c5c5c;
  }
  .gen-password {
    font-size: 20px;
  }
  .password-item {
    color: #000;
    margin-bottom: 16px;
  }
}
