<div data-name="data" data-type="object">
    <div data-name="rows" data-type="array">
        {{range .list}}
            <div>
                <div data-name="{{.Pk}}" data-type="object">
                    <input type="hidden" data-name="pk" data-value="{{.Pk}}" />
                    <div>
                        <a href="/post/read/{{.Pk}}">
                            <h3 data-name="title">{{.Title}}</h3>
                        </a>
                    </div>
                    <span data-name="update_time" data-value="{{.UpdateTime}}">{{.UpdateTimeFormatted}}</span>
                </div>
            </div>
        {{end}}
    </div>
    <div data-name="count">{{.count}}</div>
</div>