@import "src/styles/media";
// 文章编辑页面
.article-edit-page {
  .article-edit {
    .title-area,.body-area,.submit-area {
      background: #FFFFFF;
      border-radius: 4px;
    }
    .title-area,.body-area {
      margin-bottom: 16px;
    }
    .title-area,.submit-area {
      padding: 16px;
    }
    .description {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }
  @media (min-width: $screen-desktop) {
    .article-edit {
      width: 960px;
      margin: 0 auto;
    }
  }
}

// 文章查看页面
.article-read-page {
  .keywords-list {
    margin-top: 4px;
    .keyword {
      background: #efefef;
      display: inline-block;
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 8px;
    }
  }
  .code {
    background: #f6f6f6;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
    line-height: 20px;
    overflow: auto;
  }
  .article-page-menu {
    display: flex;
    flex-direction: row;
    >div {
      margin-right: 8px;
    }
  }
  .new-button,.edit-button {
    display: none;
  }

  article {
    .article-title,.article-body {
      padding: 16px;
      background: #FFFFFF;
      border-radius: 4px;
    }
    .article-title {
      h1 {
        margin-bottom: 16px;
      }
      .description {
        font-size: 14px;
      }
    }
    .article-body {
      margin-top: 16px;
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6;
        word-break: break-word;
      }
    }
  }

  #user-menu {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    #user-menu {
      display: flex;
      flex-direction: row;
      >button {
        margin-left: 8px;
      }
    }
    .new-button, .edit-button {
      display: block;
    }
  }
  @media (min-width: $screen-desktop) {
    main {
      width: 960px;
      margin: 0 auto;
    }
  }
}
