.article-edit {
  .text-field,.text-area {
    border: 1px solid #edebe9;
    padding: 8px;
    outline: none;
    font-size: 14px;
    border-radius: 2px;
  }
  .description {
    margin-bottom: 16px;
  }
}
