{{ define "index/client.html" }}
<!DOCTYPE html>
<html lang="zh">
<head>
    {{ template "headmeta.html" }}
    <title>{{.title}} - 泛函</title>
    {{ cssLink "/src/pages/main.scss" "/main.css" }}
</head>
<body>
    <noscript id="noscript" data-s="{{.status}}">{{.noscript}}</noscript>

    <fast-design-system-provider use-defaults>
        <div class="ms-Grid" dir="ltr">
            {{ template "partial/header.html" }}
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <main>
                        <div id="root"></div>
                    </main>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <footer>
                    </footer>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
        </div>
    </fast-design-system-provider>
    <script id="data" type="application/json">{{.data}}</script>
    {{ jsLink "/src/pages/main.tsx" "/main.js" }}
</body>
</html>
{{ end }}