{{ define "index/index.html" }}
<!DOCTYPE html>
<html lang="zh">
<head>
    {{ template "headmeta.html" }}
    <title>{{.title}} - 泛函</title>
    {{ cssLink "/src/pages/index.scss" "/index.css" }}
</head>
<body>
    <fast-design-system-provider use-defaults>
        <div class="ms-Grid" dir="ltr">
            {{ template "partial/header.html" }}
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <main>
                        <div>
                            <div class="article-list">
                                {{range .list}}
                                    <div class="article-item">
                                        <div data-name="{{.Pk}}" data-type="object">
                                            <input type="hidden" data-name="pk" data-value="{{.Pk}}" />
                                            <div>
                                                <a href="/article/read/{{.Pk}}" class="article-link">
                                                    <h3 data-name="title">{{.Title}}</h3>
                                                </a>
                                            </div>
                                            <span data-name="update_time" data-value="{{.UpdateTime}}">{{.UpdateTimeFormatted}}</span>
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                    </main>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
                <div class="ms-Grid-col ms-sm12 ms-xl8">
                    <footer>
                    </footer>
                </div>
                <div class="ms-Grid-col ms-sm0 ms-xl2">
                </div>
            </div>
        </div>
    </fast-design-system-provider>
    <script id="data" type="application/json">{{.data}}</script>
    {{ jsLink "/src/pages/index.tsx" "/index.js" }}
</body>
</html>
{{ end }}