@import "src/styles/base";
@import "src/styles/navtop";

@import "~/prismjs/themes/prism.css";

.code {
  background: #f6f6f6;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  line-height: 20px;
}
