@import "src/styles/base";
@import "src/styles/navtop";

#root {
  margin: 0 auto;height: 100%;
}

.article-list {
  .article-item {
    .article-link {
      color: #000;
      text-decoration: none;
    }
  }
}
