@import "/node_modules/stele/dist/index.css";
@import "src/styles/base";
@import "src/styles/navtop";
@import "./article/article-edit";

html {
    overflow-x: hidden;
}

#root {
    margin: 0 auto;height: 100%;
}

main {
    margin: 0 auto 24px;
}
