@import "/node_modules/@pnnh/stele/dist/index.css";
@import "src/styles/base";
@import "src/styles/navtop";
@import "src/styles/controls";
@import "src/pages/article/article-edit";

html {
    overflow-x: hidden;
}

.article-list {
    .article-item {
        .article-link {
            color: #000;
            text-decoration: none;
        }
    }
}

main {
    margin: 0 auto 24px;
}
